<h2>Cats</h2>

<div class="main" ng-app="myApp">
  <div ng-controller="mainController" ng-init="init()">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Maxfund Cat Search</a></h1>
        </li>

      </ul>
    </nav>

    <div class="row">
      <div class="small-10 large-6 columns">
        <input type="text" ng-model="query.name" placeholder="Search by name" />
      </div>
      <div class="small-10 large-3 columns">
        <select ng-model="query.sexSN">
          <option value="">Filter by Sex</option>
          <option value="Female/Spayed">Female</option>
          <option value="Male/Neutered">Male</option>
        </select>
      </div>
      <div class="small-10 large-3 columns">
        <select ng-model="roomFilter" ng-options="loc for loc in availableLocs">
          <option value="">Filter by Room</option>
        </select>
      </div>

      <div class="meta-info">
        <h4>Current count: {{cats.length}}</h4>
        <div ng-show="!cats.length">
          <h4>No celebrity animals</h4>
        </div>
      </div>

      <!-- show animal cards -->
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
        <li ng-repeat="cat in cats = (results| filter:query:strict )">

          <div>
            <h3>{{cat.name}}</h3>
            <img ng-src="{{cat.image_url}}" x-width="250px" />
            <br>Location: {{ cat.loc || 'N/A' }}
            <br>Breed: {{ cat.breed || 'N/A' }}
            <br>Age: {{ cat.age || 'N/A' }}
            <br>Sex: {{cat.sexSN}}
            <br><span class="desc">{{cat.desc}}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>

<script src="https://code.angularjs.org/1.1.5/angular.js"></script>
<script src="js/app.js"></script>
<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.3.3/css/foundation.min.css">

