%html
  %head
    %title= "Maxfund Cats"
    %link{href: "/css/styles.css", type: "text/css", rel: "stylesheet", media: "all"}
  %body
    .navbar
      %a{href: "/"} Maxfund Cat List
    .main_content= yield
