div.navbar {
  background: wheat;
  padding: 1em;
  margin: 0em;
  width: 100%;
}
div.navbar a {
  color: #343434;
  text-decoration: none;
  font-size: 140%;
}
div.main_content {
  padding: 1em;
}
body {
  margin: 0;
}

div.cats td {
  margin: 5px 5px 5px 5px;
  background: #9a9a9a;
  border: 1px solid black;
}
div.cats td.adopted-0 {
  background: #CC99CC;
}
span.loc {
  font-size: 125%;
}
.cat-details {
  margin: auto;
  width: 800px
}
h2 a {
  color: #232323;
  text-decoration: none;
}

/*
 *  Martys Try test
 */


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.cat {
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  margin: 10px;
  box-sizing: border-box;
  width: 30%;
}

.cat:hover {
  transition: 0.4s all cubic-bezier(.21,.63,.75,.36);
  border: 10px solid black;
}

.cat:hover a {
  transform: translate3d(0, 100%, 0);
  visibility: visible;
  padding: 10px;
  transition-duration: 1s;
}

.cat:hover p {
  transform: translate3d(0, 0, 0);
  visibility: visible;
  padding: 10px;
  transition-duration: 1s;
}

.cat a {
  position: absolute;
  top: -2em;
  left: 0;
  text-decoration: none;
}

.cat img {
  width: 100%;
  height: auto;
}

.cat p {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate3d(-110%, 0, 0);
}

.barn_cat_room a,
.barn_cat_room p {
  background-color: #7C0A02;
  color: white;
  display: block;
}

.l1,.l2,.l3,.l4 {
  position: absolute;
  background: transparent;
  width: 0px;
  height: 0px;

  -webkit-animation-duration: .4s;
  -webkit-animation-iteration-count:1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
}

.l1 {
  left: 0;
  bottom: 0;
  height: 200px;
  width: 1px;
  -webkit-animation-name: l1;
  -webkit-animation-delay: 0s;
}

.l2 {
  top: 0;
  left: 0;
  width: 200px;
  height: 1px;
  -webkit-animation-name: l2;
  -webkit-animation-delay: .4s;
}

.l3 {
  right: 0;
  top: 0;
  height: 200px;
  width: 1px;
  -webkit-animation-name: l3;
  -webkit-animation-delay: .8s;
}

.l4 {
  bottom: 0;
  right: 0;
  width: 200px;
  height: 1px;
  -webkit-animation-name: l4;
  -webkit-animation-delay: 1.2s;
}
