div.navbar {
  background: wheat;
  padding: 1em;
  margin: 0em;
  width: 100%;
}
div.navbar a {
  color: #343434;
  text-decoration: none;
  font-size: 140%;
}
div.main_content {
  padding: 1em;
}
body {
  margin: 0;
}

div.cats td {
  margin: 5px 5px 5px 5px;
  background: #9a9a9a;
  border: 1px solid black;
}
div.cats td.adopted-0{
  background: #CC99CC;
}
div.alum {
  background: #CC99CC;
}
span.loc {
  font-size: 125%;
}
.cat-details {
  margin: auto;
  width: 800px
}

h2 a {
  color: #232323;
  text-decoration: none;
}
li div.cat-detail, 
li > div,
div.filter {
  border: #cdcdcd 1px solid;
  padding: 1em;
}

div.main h1 {
  padding-left: 1em;
}

nav.top-bar {
  padding-bottom: 2em;
  margin-bottom: 2em;
}

img {
  x-max-width: 250px;
}

div.checkBoxFilter,
.meta-info {
  border: 1px dashed #cdcdcd;
  padding: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
}